.about-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 20%;
        width: 40%;
        max-height: 90%;
        margin-top: -30px;
    }
    
    .details {
        &:before {
            content: '<details>';
            font-family: 'La Belle Aurore', cursive;
            color: #3fd467;
            font-size: 18px;
            position: absolute;
            margin-top: -30px;
            left: -10px;
            opacity: 0.6;
        }
        
        &:after {
            content: '</details>';
            font-family: 'La Belle Aurore', cursive;
            color: #3fd467;
            font-size: 18px;
            position: absolute;
            margin-top: 20px;
            margin-left: 280px;
            opacity: 0.6;
        }

        .text {
            color:#8d8d8d;
            margin-top: 0px;
            margin-bottom: 5px;
            font-weight: 200;
            font-size: 8px;
            font-family: sans-serif;
            letter-spacing: 2px;
            animation: fadeIn 1s 1.8s backwards;
            
            h3 {
                color: #fff;
                font-size: 20px;
                margin-top: 8px;
                margin-bottom: 5px;
            }

            #ruby{
                color: #d30001;
                font-family: 'Calibre', sans-serif;
                font-size: 22px;
                font-weight: bold;
            }

            #react{
                color: #61dafb;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            }

            #go{
                color: #64ccd8;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            }

            #mean{
                background-image: linear-gradient(60deg, #3c8c2f,#f2be00, #e02c2f,#97b455);
                background-clip: text;
                color: transparent;
            }

            #ms{
                color: #6a4097;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                -webkit-text-stroke-width: 0.2px;
                -webkit-text-stroke-color: white;
            }
        }
    }           
}